* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    /* margin: 0 auto; */
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 50rem;
 
}

td {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}

.addForm {
    margin: 0 auto;
}